{% extends 'base.html' %}
{% block title %}
    About
{% endblock title %}
{% block content %}
    <div class="text-center">
        <br>
        <h1> <em>About Me</em> </h1>
        <br>
        <img src="/static/images/Myself1.jpg" class="rounded mx-auto d-block" alt="image" height="200px" width="200px">
        <br>
        <br>
        <h3>Hi, I'm <strong>L Kingsly Kirubakaran</strong> </h3>
        <br>
    </div>
    <div class="container ml-5">
        <div class="form">
            <br>
            <hr>
            <br>
            <h3><ins>Education</ins></h3>
            <br>
            <p>I am currently pursuing final year of my college studying <strong>Electronics and Communication Engineering </strong>at <strong>Anna University</strong>.</p>
            <br>
            <h3><ins>Languages known</ins></h3>
            <br>
            <p>I can speak and write <strong>Tamil</strong> & <strong>English</strong> fluently.</p><br>
            <h3><ins>Programming languages known</ins></h3><br>
            <h5>Python</h5>
            <div class="progress">
                <div class="progress-bar bg-progress" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <h5>C</h5>
            <div class="progress">
                <div class="progress-bar bg-dark" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <h5>Java</h5>
            <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <h5>HTML</h5>
            <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <br>
        </div>
        <br>
        <div class="text-center">
            <p></p>
            <p>Contact me on <a href="#" class="fa fa-instagram"></a><a href="https://instagram.com/kingsly.l.5?igshid=YmMyMTA2M2Y=">Instagram</a><br><i class="glyphicon glyphicon-envelope"></i><a href="mailto:rr688079@gmail.com">E-mail</a></p>

        </div>
        <br>
    </div>
{% endblock content %}
 
